.menu-content {
  padding: 20px 100px;
}

.menu-content > h1 {
  font-size: 40px;
}

.first-menu {
  display: flex;
  margin-bottom: 100px;
}

.first-menu > div:nth-child(2),
.first-menu > div:nth-child(3) {
  margin-left: 40px;
}

.card {
  width: 100%;
  border-radius: 10px;
}

.card > img {
  border-radius: 5px 5px 0 0;
  width: 350px;
  height: 280px;
}

.container {
  padding: 2px 16px;
}

.container > p:nth-child(1) {
  color: #e67965;
  font-size: 22px;
  font-weight: bolder;
}

.container > p:nth-child(2) {
  font-weight: 400;
  font-style: normal;
  font-family: 'Montserrat', sans-serif;
  color: #222222;
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 0px;
}

.menu-button {
  padding: 15px 25px;
  margin-right: 8px;
  background-color: #e67965;
  border: none;
  border-radius: 2px;
  font-size: 20px;
  font-weight: 700;
}

.menu-button:hover {
  cursor: pointer;
  background-color: #ffcc99;
  color: black;
  font-weight: normal;
}

.button-add-remove {
  display: flex;
  flex-direction: row;
}

/* Pop up */
.pop-up {
  position: fixed;
  z-index: 11;
  bottom: 0px;
  transition: bottom 0.2s ease 0s;
  width: 75%;
  display: flex;
  height: 4.5rem;
  background: rgb(255, 255, 255);
  justify-content: space-between;
  padding: 0 20px;
}

.pop-up-button {
  margin-top: 15px;
  margin-bottom: 5px;
  padding: 5px 20px;
  background-color: #e67965;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: white;
}

.pop-up-right {
  display: flex;
}

.pop-up-right > h3 {
  margin-top: 25px;
  margin-right: 30px;
}

.menu-category-option {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.menu-category-option > form > select {
  padding: 8px 5px;
  border-radius: 5px;
  width: 250px;
  font-size: 14px;
}

.menu-category-option > form  > button {
  padding: 8px 20px;
  border: none;
  margin: 0 10px;
  border-radius: 5px;
  font-size: 16px;
  /* font-weight: bold; */
  cursor: pointer;
  background-color: #ff8000;
  color: white;
}
